<!-- {% extends "layout.html"%}

    {% block content %} -->

    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js">
    <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CLEARSPACE PORTAL</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/091f1122a7.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
        <style type="text/css">
            hr {
                width: 30%;
                height: 0px;
                background-color: rgb(206, 203, 203);
                margin-right: auto;
                margin-left: auto;
                margin-top: 12px;
                margin-bottom: 3px;
                border-width: 2px;
            }
        </style>
    </head>
    
    <body>
    
        <header>
            <!-- <nav class="navbar navbar-expand-lg navbar-light">
                    
                    <h1 class= "nav-brand">
                        <a href="Xindex.html" class="navbar-brand"  style="font-family: 'Caveat Brush', cursive; font-size:40px">Serenity</a>
                    </h1>
                           -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="Xindex.html">Serenity</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="You.html" >For You</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Hospital.html" style="color:black;">For Hospitals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Business.html">For Business</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <!-- <input class="form-control mr-sm-2" type="button" placeholder="Search" aria-label="Search"> -->
                        <a class="btn site-btn1 btn-info mr-sm-2 " href="https://www.senseble.health/senseble/#/login" role="button"
                        style="border-radius:53px; width:120px;">Login</a>
                        <a class="btn site-btn1 btn-info mr-sm-2 " href="https://www.senseble.health/senseble/#/login" role="button"
                        style="border-radius:53px; width:120px;">SignUp</a>
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                      </form>
                </div>
            </nav>
        </header>
        <main>

                <div class="container-fluid p-0">
                        <div class="hospital-content">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column">
                                    <h4 class="about-title text-center">FOR HOSPITALS</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                

                <!-- <img src="Woman.jpg" style="width:450px;"> -->
                <div class="section-1">
                        <div class="container text-center">
                            <div class="wrapper container">
                                <div class="row justify-content-center text-center">
                                  
                                    <div class="col-md-5">
                                       
                                        <div class="card-bodyy">
                                                The healthcare industry is evolving rapidly with large volumes of data and increasing challenges in cost and patient outcomes. Early adopters of AI in the healthcare space are reaping the benefits in terms of patient care and adding to their bottom line results, and everyone is taking notice.</p>
                                        </div>
                                        <div class="card-bodyy">
                                                These companies are using AI for a number of scenarios including managing claims, detecting fraud, improving clinical workflows, and predicting hospital acquired infections. H2O.ai, the open source and automation leader in AI, is empowering leading healthcare companies to deliver AI solutions that are changing the industry.
                                            </div>
                                            <br>
                                            <a class="btn site-btn4 btn-info mr-sm-2 " href="#" role="button"
                                            style="border-radius:53px; width:120px;">Sign Me Up</a>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="footer"
                style="text-align: center; padding-top:30px;padding-bottom:10px; background:rgb(204, 200, 200)">
                <div class="container text-center">
                    <div class="wrapper container">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-9">
                                <div class="footer-title" stlye="a:hover">
                                    <h4>
                                        <a href="#">FOR YOU</a>&emsp;<a href="#">FOR HOSPITALS</a>&emsp;<a href="#">FOR
                                            BUSINESSES</a>
                                    </h4>
                                </div>
                                <hr>
                                <h4 class="footer-body" style="font-size:16px;">
                                    Clearspace labs.2019
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="" async defer></script>
    
    </body>
    
    </html>