<!-- {% extends "layout.html"%}

    {% block content %} -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Serenity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/091f1122a7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet"> 
    <style type="text/css">
        hr {
            width: 98%;
            height: 0px;
            background-color: rgb(206, 203, 203);
            /* margin-right: auto; */
            /* margin-left: auto; */
            margin-top: 3px;
            margin-bottom: 3px;
            border-width: 2px;
        }
    </style>
</head>

<body>

    <header>
        <!-- <nav class="navbar navbar-expand-lg navbar-light">
                
                <h1 class= "nav-brand">
                    <a href="Xindex.html" class="navbar-brand"  style="font-family: 'Caveat Brush', cursive; font-size:40px">Serenity</a>
                </h1>
                /* Ellipse */

position: absolute;
width: 45px;
height: 48px;
left: 141px;
top: 36px;

border: 9px solid #45D4FF;
box-sizing: border-box;

                       -->
                       <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <img src="logo(1).png" style="width:121px;">   
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">INDIVIDUALS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BUSINESS</a>
                              </li>
                          </ul>
                          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                          <a class="btn site-btn5 btn-light mr-sm-2 " href="https://www.senseble.health/senseble/#/login" role="button" style="border-radius:53px; width:120px; background: transparent">LOGIN</a>

                            <form class="form-inline">
                               <a class="btn site-btn1 btn-light mr-sm-2 " href="https://www.senseble.health/senseble/#/login" role="button" style="border-radius:53px; width:180px;">NEW ACCOUNT</a>
                              </form>
                          
                        </div>
                      </nav>
                
    </header>

    <main>
    

         <!-- ------------------------------ -->
         <a name="home">
         <div class="section-5">
                <div class="container text-left">
                    <div class="wrapper container">
                        <div class="row justify-content-left">
                            <div class="col-md-8">
                                <div class="start-bodyy">
                                       Serenity is the new digital platform that connects you and your family to better healthcare right from your phone
                                        
                                </div>
                                        <div class="start-title">
                                            <br>
                                                Serenity is powered by Artificial Intelligence and connects you in realtime to wirldclass healthcare ar a price you can afford 
                            </div>
                            <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a> -->
                            <div class="start-button">                            <br>
                            <a class="btn site-btn6 btn-default mr-sm-2 " href="https://www.senseble.health/senseble/#/login" role="button" >SUBSCRIBE NOW</a>    
                            <br>
                            <h4 style="font-size:10px; margin-left:50px; padding-top:10px; display:inline-block; color:#9c9a9a;"> 
                                 <a style="font-weight:900; color: black">Free trial</a> 
                                = No credit card required</h4>
                            </div>
                        </div>
                                       
                                
                            <div class="col-md-3">
                                <div class="card-imageee">
                                    <img src="mockup3.png" style="width: 280px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <nav style="margin:30px 100px 0px 100px;">
                <div class="tab-nav">
                    <br>
                <div class="nav nav-thing" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-instant-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Instant healthcare</a>
                  <a class="nav-item nav-link" id="nav-digital-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Digital assistant</a>
                  <a class="nav-item nav-link" id="nav-medical-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Medical Records</a>
                  <a class="nav-item nav-link" id="nav-demand-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">On demand insurance</a>
                  <a class="nav-item nav-link" id="nav-phone-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Works on any Phone</a>
                </div>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> 
                    <div class="wrapper container">
                    <div class="row justify-content-center text-left">
                    <div class="col-md-6">
                        <img src="startup_icon.png" style="width:80px;">
                        <div class="tab-head">
                            
                            <br>
                            <h1>Circular is the perfect solution for your startup</h1>
                        </div>
                        <div class="tab-body">
                            Some description goes here to back the title above. It shouldnt br  longer than two or three lines in order to look nice
                        </div>
                        </div>
                        <div class="col-md-6">
                            <img src="customize_icon.png" style="width:80px;">
                            <div class="tab-head">
                                <br>
                            
                                <h1>Crazy easy to adapt it to your own needs.</h1>
                            </div>
                            <div class="tab-body">
                                    Some description goes here to back the title above. It shouldnt br  longer than two or three lines in order to look nice
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="wrapper container">
                                <div class="row justify-content-center text-left">
                                <div class="col-md-6">
                                    <img src="startup_icon.png" style="width:80px;">
                                    <div class="tab-head">
                                        
                                        <br>
                                        <h1>Circular is the perfect solution for your startup</h1>
                                    </div>
                                    <div class="tab-body">
                                        Some description goes here to back the title above. It shouldnt br  longer than two or three lines in order to look nice
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="customize_icon.png" style="width:80px;">
                                        <div class="tab-head">
                                            <br>
                                        
                                            <h1>Crazy easy to adapt it to your own needs.</h1>
                                        </div>
                                        <div class="tab-body">
                                                Some description goes here to back the title above. It shouldnt br  longer than two or three lines in order to look nice
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
               
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="wrapper container">
                                <div class="row justify-content-center text-left">
                                <div class="col-md-6">
                                    <img src="startup_icon.png" style="width:80px;">
                                    <div class="tab-head">
                                        
                                        <br>
                                        <h1>Circular is the perfect solution for your startup</h1>
                                    </div>
                                    <div class="tab-body">
                                        Some description goes here to back the title above. It shouldnt br  longer than two or three lines in order to look nice
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="customize_icon.png" style="width:80px;">
                                        <div class="tab-head">
                                            <br>
                                        
                                            <h1>Crazy easy to adapt it to your own needs.</h1>
                                        </div>
                                        <div class="tab-body">
                                                Some description goes here to back the title above. It shouldnt br  longer than two or three lines in order to look nice
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            <br>
            <br>  
            </div>
        
        
            <a name="individuals">
        

        <!-- <div class="container-fluid p-0">
            <div class="about-content">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                        <h4 class="about-title text-center">About Us</h4>
                    </div>
                </div>
            </div>
        </div> -->


        <a name="about">
        </a>
        <div class="container-fluid" style="background-size: cover;">
        </div>


        <div class="section-1">
            <div class="container text-center">
                <div class="wrapper container ">
                    <div class="row justify-content-md-between  align-items-center">
                        <!-- <br> -->
                        <div class="col-md-5">
                            <div class="card-image">
                                <img src="graphic.png">
                            </div>
                        </div>
                        <div class="col-md-5 ">
                            <div class="card-title">
                                FOR YOU
                            </div>
                            <div class="card-bodyy">
                                Serenity, always understands you from her suggestions to your timeout
                                requests based on your current interface, she learns everyday </p>
                                <a class="btn site-btn4 btn-info mr-sm-2 " href="You.html"button"
                                style="border-radius:53px; width:120px;">Tell Me More</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------- -->
        <div class="section-2">
                <div class="container text-center">
                    <div class="wrapper container">
                        <div class="row justify-content-md-between  align-items-center">
                            <div class="col-md-5">
                                <div class="left">
                                <div class="card-image">
                                    <img src="sec2.png">
                                </div>
                            </div>
                        </div>
                            <div class="col-md-5">
                                <div class="right">
                                <div class="card-title">
                                    FOR BUSINESS
                                </div>
                                <div class="card-bodyy">
                                    Serenity is the new digital platform that connects you anf your family to better healthcare right from your phone</p>
                                    <a class="btn site-btn4 btn-info mr-sm-2 " href="Business.html" role="button"
                    style="border-radius:53px; width:120px;">Tell Me More</a>
                                </div>
                                <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <div class="section-7">
            <div class="container text-center">
                <div class="wrapper container">
                    <div class="row justify-content-md-between  align-items-center">
                        <div class="col-md-5">
                            <div class="card-image">
                                <img src="sec3.png">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card-title">
                                FOR HOSPITAL
                            </div>
                            <div class="card-bodyy">
                                Serenity, always understands you from her suggestions to your timeout
                                requests based on your current interface, she learns everyday </p>
                                <a class="btn site-btn4 btn-info mr-sm-2 " href="Hospital.html" role="button"
                                style="border-radius:53px; width:120px;">Tell Me More</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>














        

        <div class="section-8">
            <div class="container text-center">
                
                <h3 class="heading-1">Great Pricing Options for everybody</h3>
                <!-- <h4 class="heading-2">Our Popular Vendors:</h4> -->
                <p class="para-7">
                        

<!-- <label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label> -->

<!-- <label class="switch">
  <input type="checkbox" checked>
  <span class="slider"></span>
</label><br><br> -->



<!-- Default checked -->
<div class="custom-control custom-switch">
        <label>Annually</label> &emsp; &emsp; 
    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
        <label class="custom-control-label" for="customSwitch1">Monthly</label>
      </div>





                </p>
            </div>

            <div class="wrapper container">
                <div class="row justify-content-center text-left">
                    

                    <div class="col-md-4">
                        <div class="footer-card">
                        
                        <div class="card-body">
                                <p>INDIVIDUAL </p>
                            <div class="footer-price">
                                <a style="font-weight:bolder; color:#1297FF; font-size:20px;">$9.99</a>/month*
                            </div>
                                <hr>
                            <p class="para-1"> *billed each month </p>
                            
                        </div>
                        
                    
                        
                    </div>
                    <br>
                    <div classs= "btn footer-button align-items-center"> 
                    <a class="btn site-btn2 btn-info mr-2 align-items-center" href="https://www.senseble.health/senseble/#/login" role="button"  ">Learn More</a>
                </div>
                    
                    <div class="footer-list">
                        <br>
                            <ul class="checkmark">
                                <li>
                                    Commodo massa
                                </li>
                                <li>
                                    Lorem ipsum diceam est un dolor
                                </li>
                                <li>
                                    Dolor sit amet cum parturient
                                </li>
                                <li>
                                    Aenean parturient
                                </li>
                                
                            </ul>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="footer-card">
                        
                        <div class="card-body">
                                <p>INDIVIDUAL </p>
                            <div class="footer-price">
                                <a style="font-weight:bolder; color:#1297FF; font-size:20px;">$9.99</a>/month*
                            </div>
                                <hr>
                            <p class="para-1"> *billed each month </p>
                            
                        </div>
                    
                        
                    </div>
                    <br>
                    <a class="btn site-btn1 btn-light mr-sm-2 " href="https://www.senseble.health/senseble/#/login" role="button"
                    style="border-radius:53px;">NEW ACCOUNT</a>
                    
                    <div class="footer-list">
                        <br>
                            <ul class="checkmark">
                                <li>
                                    Commodo massa
                                </li>
                                <li>
                                    Lorem ipsum diceam est un dolor
                                </li>
                                <li>
                                    Dolor sit amet cum parturient
                                </li>
                                <li>
                                    Aenean parturient
                                </li>
                                
                            </ul>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="footer-card">
                        
                        <div class="card-body">
                                <p>INDIVIDUAL </p>
                            <div class="footer-price">
                                <a style="font-weight:bolder; color:#1297FF; font-size:20px;">$9.99</a>/month*
                            </div>
                                <hr>
                            <p class="para-1"> *billed each month </p>
                            
                        </div>
                    
                        
                    </div>
                    <br>
                    <!-- <a class="btn site-btn4 btn-info mr-sm-2 " href="Hospital.html" role="button"
                    style="border-radius:53px; width:350px;">Tell Me More</a> -->
                    <a class="btn site-btn2 btn-info mr-2" href="https://www.senseble.health/senseble/#/login" role="button"  ">Learn More</a>
                    
                    <div class="footer-list">
                        <br>
                            <ul class="checkmark">
                                <li>
                                    Commodo massa
                                </li>
                                <li>
                                    Lorem ipsum diceam est un dolor
                                </li>
                                <li>
                                    Dolor sit amet cum parturient
                                </li>
                                <li>
                                    Aenean parturient
                                </li>
                                
                            </ul>
                        </div>
                        </div>
                </div>
            </div>

        </div>

        <div class="footer"
            style="text-align: center; padding-top:30px;padding-bottom:10px;)">
            <div class="container text-center">
                <div class="wrapper container">
                    <div class="row justify-content-center text-left">
                      
                            <div class="col-md-2">
                                    <div class="card-head">
                                        PRODUCT
                                    </div>
                                        <div class="card-bodyy">
                                         <a> Templates </a> 
                                         <br>
                                         <a> Features </a> 
                                         <br>
                                         <a> Premium Plans  </a> 
                                         <br>
                                         <a> Premium Plans  </a> 
                                         <br>
                                         <br>
                                            <!-- <a class="btn site-btn4 btn-info mr-sm-2 " href="Hospital.html" role="button"
                                            style="border-radius:53px; width:120px;">Tell Me More</a> -->
                                        </div>
                                    </div>    

                            <div class="col-md-2">
                                <div class="card-head">
                                    COMPANY
                                </div>
                                    <div class="card-bodyy">
                                     <a> About Circular </a> 
                                     <br>
                                     <a> Press Kit </a> 
                                     <br>
                                     <a> Terms Of Use  </a>
                                     <br>
                                         <br> 
                                
                                        <!-- <a class="btn site-btn4 btn-info mr-sm-2 " href="Hospital.html" role="button"
                                        style="border-radius:53px; width:120px;">Tell Me More</a> -->
                                    </div>
                                </div>

                                <div class="col-md-2">
                                        <div class="card-head">
                                            FEATURES
                                        </div>
                                            <div class="card-bodyy">
                                             <a> Circular Blog </a> 
                                             <br>
                                             <a> Support Center </a> 
                                             <br>
                                             <a> Contact  </a> 
                                             <br>
                                             <br>
                                            </div>
                                        </div>

                                <div class="col-md-6">
                                    <div class="ftext">
                                        <div class="card-head">
                                                SERENITY
                                            </div>
                                        <div class="card-bodyy">
                                            <p>
                                                Here we should have a few words about what and who the company is. This should serve well for SEO purposes, so makes sure you create some content for this part too.
                                                </p>
                                         
                                            <!-- <a class="btn site-btn4 btn-info mr-sm-2 " href="Hospital.html" role="button"
                                            style="border-radius:53px; width:120px;">Tell Me More</a> -->
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                    </div>
                                    
                                       
                                    <!-- © Copyright 2018, Circular Theme. All rights are reserved.+ -->
                                     
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="" async defer></script>

</body>

</html>